body {
  background: url("https://scontent-lga3-1.xx.fbcdn.net/t31.0-8/1146783_10154883704300523_3101244223269172651_o.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

.content{
  margin: 20px;
  padding: 10px;
  background-color: #eee;
  border: 2px solid #ccc;
}

.flash-message p {
  margin: 20px;
  padding: 5px;
  background-color: #eee;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
}


body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}


form select {
  width: 146px;
}

.form-signin label, .form-signin input {
  margin-right: 10px;
}

form input:not(:last-child)  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 150px;
  text-indent: 8px;
  height:32px;
  border: 1px solid #ddd;
  border-radius: none;

}
select {
  width: 160px;
  text-indent: 0px;
  height:32px;
  border: 1px solid #ddd;
  border-radius: none;
  background-color: #fff;
}

#logout{
  float:right;
}
