<h1>Add Maintenance Task</h1>



<form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id %>/maintenance/">
  <label>Task</label>
    <select name="maintenance[name]">
      <% Maintenance.all.each do |task| %>
        <option> <%= task.name %> </option>
      <% end %>
    </select>
  <label>Performed on Date:</label>
    <input type="text" id="datepicker" name="maintenance[date]" required>
  <input type="submit" value="Add Maintenance">
</form>

<p>
<form method="POST" action="/users/<%= @user.slug %>/maintenance/new">
  <input type="text" name="task">
  <input type="submit" value="Create Task">
</form>
</p>

