<h1>Add Maintenance Task</h1>

<form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id %>/maintenance">
  <h2>Add from existing tasks</h2>

  <label>Task</label>
    <select name="maintenance[][name]">
      <% Maintenance.select_user_maintenance(@user).each do |task| %>
        <option> <%= task.name %> </option>
      <% end %>
    </select>
  <label>Performed on Date:</label>
    <input type="text" class="datepicker" name="maintenance[][date]" required>
  
  <h2>Or create a new task</h2>

  <label>Task:</label>
    <input type="text" name="maintenance[][name]">
  <label>Performed on Date:</label>
    <input type="text" class="datepicker" name="maintenance[][date]" required>

  <p><input type="submit" value="Add Maintenance"></p>
</form>

