
  <div class="content">
    <h1>Car Maintenance Tracker</h1>
    <br/>
    <p>Track your car's maintenance with our application and never forget again!</p>
    <br/>

    <a href="/login" class="btn btn-md btn-default">Login</a>
    <a href="/register" class="btn btn-md btn-primary">Register</a>
    
    <br/>

  </div>
