<h1>Login</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<form method="POST" action="/login">
  <label for="email">Email</label>
    <input type="text" name="email" id="email">
  <label for="password">Password</label>
    <input type="text" name="password" id="password">
  <input type="submit" value="Login" id="login">
</form>