<div class="content">

  <% if flash.has?(:message) %>
    <p><%= flash[:message] %></p>
  <% end %>

  <form class="form-signin" method="POST" action="/login">
    <h2>Log In</h2>
    <label for="email" >Email</label>
      <input type="email" id="email" placeholder="Email address" name="email" required >
    <label for="password" >Password</label>
      <input type="password" id="password"  name="password" placeholder="password" required>
    <input class="btn btn-md btn-primary" type="submit" value="Log In">
  </form>
  <br/>
</div>