<div class="content">

<h1>Sign Up</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<form class="form-signin" method="POST" action="/register">
  <label for="name">Name</label>
    <input type="text" name="name" id="name">
  <label for="email">Email</label>
    <input type="email" name="email" id="email">
  <label for="email">Password</label>
    <input type="password" name="password" id="password">
  <input type="submit" value="Sign Up" id="register" class="btn btn-md btn-primary">
</form>
  <br/>
</div>